<div class="container-lg py-3">
  <div class="text-center fs-1">Employees
  <button class="btn btn-small btn-outline-dark" (click)="pullEmployees()" >Поиск</button></div>
  <table class="table table table-bordered">
    <thead>
    <tr>
      <th scope="col">Отдел
        <div>
          <input type="text" [(ngModel)]="search.departmentTerm">
        </div>
      </th>
      <th scope="col">Ф.И.О
        <div>
          <input type="text" [(ngModel)]="search.fioTerm">
        </div>
      </th>
      <th scope="col">Дата рождения
        <div>
          <input type="date" [(ngModel)]="search.birthTarget">
        </div>
      </th>
      <th scope="col">Дата устройства на работу
        <div>
          <input type="date" [(ngModel)]="search.employmentDateTarget">
        </div>
      </th>
      <th scope="col">Заработная плата &#8381;
        <div>
          <input type="number" [(ngModel)]="search.salaryCount">
        </div>
      </th>
      <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <th scope="row">{{ employee.department }}</th>
      <td>{{ employee.fullName }}</td>
      <td>{{ employee.dateOfBirth | date }}</td>
      <td>{{ employee.employmentDate | date }}</td>
      <td>{{ employee.salary  | number }} &#8381;</td>
      <td>
        <div class="d-flex justify-content-between gap-1">

          <button class="btn btn-sm btn-outline-primary" (click)="openCreateEmployee()">Создание</button>
          <button class="btn btn-sm  btn-outline-warning" (click)="openUpdateEmployee(employee)">Редактирование</button>
          <button class="btn btn-sm  btn-outline-danger" (click)="openDeleteEmployee(employee)">Удаление</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
